@font-face {
  font-family: "MuseoSans100";
  src: url("assets/fonts/MuseoSans_100.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans100i";
  src: url("assets/fonts/MuseoSans_100_Italic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans300";
  src: url("assets/fonts/MuseoSans_300.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans300i";
  src: url("assets/fonts/MuseoSans_300_Italic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans500";
  src: url("assets/fonts/MuseoSans_500.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans500i";
  src: url("assets/fonts/MuseoSans_500_Italic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans700";
  src: url("assets/fonts/MuseoSans_700.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans700i";
  src: url("assets/fonts/MuseoSans_700_Italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans900";
  src: url("assets/fonts/MuseoSans_900.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans900i";
  src: url("assets/fonts/MuseoSans_900_Italic.otf");
  font-weight: 900;
  font-style: italic;
}
