@import "_vars.scss";

.page-back {
  color: #000;
  font-size: 0.875rem;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.page-back:hover,
.page-back:focus,
.page-back:active {
  color: #1c146b;
}

.page-back-icon {
  color: #000;
  font-size: 0.875rem;
}
